.service-request form {
    background: #ffffff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
}

.service-request form:hover {
    transform: translateY(-5px);
}

.service-request .form-label {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #334155;
    margin-bottom: 6px;
}

.service-request .form-control,
.service-request .form-select {
    border-radius: 12px;
    padding: 14px;
    transition: 0.3s;
    font-size: 14px;
}

.service-request .form-control:focus,
.service-request .form-select:focus {
    border-color: rgba(var(--main-color-rgb), 0.3);
        box-shadow: 0 0 0 4px rgba(var(--main-color-rgb), 0.15);}

.service-request textarea {
    resize: none;
    height: 120px;
}

.service-request button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background: var(--main-color);
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s ease;
}

.service-request button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(var(--main-color-rgb), 0.15);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: white;
}

@media (max-width: 992px) {
    .service-request form {
        margin-top: 25px;
    }
}
@media (max-width: 768px) {
    .service-request button{
        padding-bottom: 10px;
    }
}